#убираем автоматическое экранирование кавычек Пример:
php_flag magic_quotes_gpc Off  

#кодировку усатнавливаем
AddDefaultCharset utf-8

# «Когда пользователь запрашивает папку, покажи ему файл index.php из этой папки, если он существует».
# DirectoryIndex срабатывает только для запросов к папкам (с / в конце).
# то есть в данном случае мы заставляем апаче после символа / который стоит после слова core,
# открывать и искать только файл index.php
DirectoryIndex index.php

#это директива  включает механизм перезаписи URL, если его не включить, 
#последующие правила RewriteRule и RewriteCond не будут работать
RewriteEngine on

# а что после слеша обрабатывает следующие правила внизу

# Пользователь запрашивает URL, например:
#   example.com/about.html
#   example.com/nonexistent-page
# Сервер проверяет:
#   Существует ли физический файл about.html в корне сайта?

#       Если ДА (файл есть) → !-f вернёт false → правило RewriteRule не сработает.
#       Пользователь увидит содержимое about.html.

#       Если НЕТ (файла нет) → !-f вернёт true → правило RewriteRule перенаправит запрос на index.php
RewriteCond %{REQUEST_FILENAME} !-f

#Переписать любой URI (^(.*)$) в index.php
# Регулярное выражение: ^(.*)$
#   ^ — начало строки.
#   (.*) — захватывает всё , что находится в URI.
#       . — любой символ (кроме перевода строки),
#       * — повторяется 0 или более раз,
#   скобки () означают группу захвата
RewriteRule ^(.*) index.php 